% pack200 properties
# Generic properties for the packer.
pack.modification.time=latest
pack.deflate.hint=false
pack.keep.file.order=false
pack.effort=9
# This option will cause the files bearing new attributes to
# be reported as an error rather than passed uncompressed.
pack.unknown.attribute=error
# Change the segment limit to be unlimited.
pack.segment.limit=-1
# Remove debug information
pack.strip.debug=true