# Please edit below to fit your needs.

# This directory will contain the working copy of GeoGebra:
SVNDIR=/home/kovzol/svn

# This directory should point to the official webpage:
WWWDIR=/home/kovzol/ggb/www/autobuild

# Signature file directory:
P12DIR=/home/kovzol/igi-keystore

# Repository:
REPO=http://www.geogebra.org/svn/trunk/geogebra
#REPO=file:///opt/repos/geogebra/trunk/geogebra
